@charset "UTF-8";

/*=====================Fonts=====================*/

@font-face {
  font-family: 'OpenSansRegular';
  src: url("/fonts/OpenSansRegular/OpenSansRegular.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"), url("/fonts/OpenSansRegular/OpenSansRegular.woff2") format("woff2"), url("/fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"), url("/fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype"), url("/fonts/OpenSansRegular/OpenSansRegular.svg#OpenSansRegular") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansBold';
  src: url("/fonts/OpenSansBold/OpenSansBold.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/OpenSansBold/OpenSansBold.eot?#iefix") format("embedded-opentype"), url("/fonts/OpenSansBold/OpenSansBold.woff2") format("woff2"), url("/fonts/OpenSansBold/OpenSansBold.woff") format("woff"), url("/fonts/OpenSansBold/OpenSansBold.ttf") format("truetype"), url("/fonts/OpenSansBold/OpenSansBold.svg#OpenSansBold") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansExtraBold';
  src: url("/fonts/OpenSansExtraBold/OpenSansExtraBold.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/OpenSansExtraBold/OpenSansExtraBold.eot?#iefix") format("embedded-opentype"), url("/fonts/OpenSansExtraBold/OpenSansExtraBold.woff2") format("woff2"), url("/fonts/OpenSansExtraBold/OpenSansExtraBold.woff") format("woff"), url("/fonts/OpenSansExtraBold/OpenSansExtraBold.ttf") format("truetype"), url("/fonts/OpenSansExtraBold/OpenSansExtraBold.svg#OpenSansExtraBold") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

/*==================Costom styles================*/

html {
  overflow-x: hidden;
  font-size: 10px;
}

body {
  background: #fff;
  font-family: 'OpenSansRegular', Arial, Tahoma, sans-serif;
  font-weight: normal;
  font-size: 1.8rem;
  color: #000;
  margin: 0;
  padding: 0;
  letter-spacing: 0.2px;
  line-height: 1;
  overflow-x: hidden;
  -webkit-font-smoothing: antialised;
}

div,
p,
input,
button,
form,
a {
  box-sizing: border-box;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:hover,
a:active,
a:focus,
button,
input,
button:hover,
button:active,
button:focus,
input:focus,
input:active {
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

ul,
li {
  display: block;
  padding: 0px;
  margin: 0px;
}

h1 {
  font-family: 'OpenSansExtraBold', Arial, Tahoma, sans-serif;
  font-weight: normal;
  font-size: 4.8rem;
  color: #fff;
  text-align: left;
  line-height: 1.2;
  text-transform: uppercase;
}

h2 {
  font-family: 'OpenSansBold', Arial, Tahoma, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 3.0rem;
  color: #000;
  text-align: center;
  line-height: 1.25;
}

h3 {
  font-family: 'OpenSansBold', Arial, Tahoma, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 2.4rem;
  color: #0493cb;
  text-align: left;
  line-height: 1.25;
}

.btn__transparent {
  background: #fff;
  cursor: pointer;
  width: 220px;
  height: 60px;
  display: inline-block;
  border: none;
  border-radius: 10px;
  text-align: center;
  border: 3px solid #0A92C9;
  font-family: 'OpenSansBold', Arial, Tahoma, sans-serif;
  font-weight: normal;
  color: #0A92C9;
  font-size: 1.4rem;
  line-height: 54px;
  text-transform: uppercase;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.btn__transparent:hover {
  color: #fff;
}

.btn__transparent:active {
  color: #fff;
  outline: none;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.7);
}

.btn__transparent:focus {
  color: #fff;
}

.btn__green {
  background: #53BC17;
  cursor: pointer;
  width: 220px;
  height: 47px;
  display: inline-block;
  border: none;
  border-radius: 7px;
  text-align: left;
  font-family: 'OpenSansBold', Arial, Tahoma, sans-serif;
  font-weight: normal;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.4rem;
  line-height: 47px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  box-shadow: 4px 4px 5px rgba(12, 0, 23, 0.38);
}

.btn__green:hover {
  color: #fff;
  background-color: #92DDFC;
}

.btn__green:active {
  color: #fff;
  outline: none;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.7);
}

.btn__green:focus {
  color: #fff;
}

/* Sweep To Top */

.hvr-sweep-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-sweep-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-top:hover,
.hvr-sweep-to-top:focus,
.hvr-sweep-to-top:active {
  color: white;
}

.hvr-sweep-to-top:hover:before,
.hvr-sweep-to-top:focus:before,
.hvr-sweep-to-top:active:before {
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
}

/*==================Header styles================*/

header .header_container {
  margin-top: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

header .header_container .btn__transparent {
  margin-top: 10px;
}

/*==================section first================*/

section#first {
  background: url(/img/fon_first.jpg) center 135px no-repeat;
  background-size: cover;
}

section#first .mobiles {
  margin-top: 90px;
  margin-right: -450px;
  margin-left: -200px;
}

section#first .caption {
  margin-top: 155px;
}

section#first .caption h1 {
  margin-right: -30px;
}

section#first .caption h1 .br_mobile {
  display: none;
}

section#first .caption .email_text {
  margin-top: 50px;
  color: #fff;
}

section#first .caption .order {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 35px;
}

section#first .caption .order input.order__input {
  width: 350px;
  height: 47px;
  color: #fff;
  background-color: #A4DEF6;
  border-radius: 7px;
  border: none;
  outline: none;
  line-height: 47px;
  padding: 18px 30px;
  font-family: 'OpenSansRegular', Arial, Tahoma, sans-serif;
  font-weight: normal;
  font-size: 14px;
  margin-right: 25px;
}

section#first .caption .order .order__input::-webkit-input-placeholder {
  color: #fff;
}

section#first .caption .order .order__input::-moz-placeholder {
  color: #fff;
}

section#first .caption .order .order__input:hover::-webkit-input-placeholder {
  color: #fff;
}

section#first .caption .order .order__input:hover::-moz-placeholder {
  color: #fff;
}

section#first .caption .start {
  margin-top: 94px;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'OpenSansBold', Arial, Tahoma, sans-serif;
  font-weight: normal;
  letter-spacing: 0;
}

section#first .caption .market {
  margin-top: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

section#first .caption .market a:last-child img {
  height: 83px;
}

section#first .caption .market a:first-child {
  margin-right: 20px;
  margin-left: -5px;
}

/*==================section shipping_order================*/

section#shipping_order {
  padding-top: 115px;
  padding-bottom: 115px;
  background-color: #DBF3FC;
}

section#shipping_order .step {
  margin-top: 25px;
}

section#shipping_order .step img {
  display: inline-block;
}

section#shipping_order .step .step_caption {
  margin-top: -15px;
  font-size: 20px;
  font-family: 'OpenSansBold', Arial, Tahoma, sans-serif;
  font-weight: normal;
}

section#shipping_order .step .step_description {
  margin-top: 25px;
  font-size: 16px;
  line-height: 2;
  letter-spacing: -0.6px;
}

section#shipping_order .step:nth-child(1) img {
  display: inline-block;
  margin-right: -20px;
}

/*==================section aditional_features================*/

section#aditional_features {
  padding: 115px 0;
}

section#aditional_features h2 {
  margin-bottom: 85px;
}

section#aditional_features .description_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

section#aditional_features .description_wrapper .description_img {
  text-align: center;
}

section#aditional_features .description_wrapper .description_img img {
  display: inline-block;
}

section#aditional_features .description_wrapper .features_description p {
  margin-top: 50px;
  line-height: 2;
}

section#aditional_features .description_wrapper:nth-child(2) img {
  margin-left: -25px;
}

section#aditional_features .description_wrapper:nth-child(2) h3 {
  margin-right: -35px;
}

section#aditional_features .row:nth-child(3) .description_wrapper .order_block {
  margin-top: 10px;
}

/*==================section natural_origin================*/

section#natural_origin {
  padding: 90px 0;
  background-color: #DBF3FC;
}

section#natural_origin .natural_origin-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

section#natural_origin .natural_origin-wrapper .origin_caption h2 {
  text-align: left;
}

section#natural_origin .natural_origin-wrapper .origin_caption p {
  margin-top: 85px;
  line-height: 2;
}

section#natural_origin .natural_origin-wrapper .origin_img {
  margin-left: -100px;
  margin-right: -100px;
}

/*==================section free_application================*/

section#free_application {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #0A92C9;
  color: #fff;
}

section#free_application h2 {
  color: #fff;
  line-height: 1.5;
}

section#free_application .apps_link {
  margin-bottom: 55px;
  margin-top: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

section#free_application .apps_link a img {
  height: 100px;
}

section#free_application .apps_link a:first-child {
  margin-right: 30px;
}

section#free_application p {
  font-size: 1.2rem;
}

/*==================Кнопка "Вверх"================*/

.top {
  color: #6e6e6e;
  z-index: 100;
  position: fixed;
  bottom: 20px;
  left: -100px;
  background: #fff;
  opacity: 0.5;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  line-height: 57px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.top .fa {
  font-size: 30px;
  color: #6e6e6e;
}

.top .fa:after {
  top: -2px;
  left: -1px;
  position: absolute;
  content: "";
  border-radius: 5px;
  width: 50px;
  height: 50px;
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
  z-index: -1;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.top .fa:hover:after {
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.8);
}

.top:hover {
  opacity: 1;
}

.top.top__active {
  left: 20px;
}

/* Вёрстка /Каминский Дмитрий mail:webmaster@kaminskiydmitriy.com, skype: drakonfire */

@media screen and (max-width: 1200px) {
  section#first .mobiles {
    margin-right: -350px;
    margin-left: -170px;
  }

  section#first .caption h1 {
    font-size: 3.9rem;
  }
}

@media screen and (max-width: 992px) {
  header {
    background: #fff;
  }

  section#first {
    background: #0392CC url(/img/fon_first.jpg) center 119px no-repeat;
    padding-bottom: 50px;
    background-size: contain;
  }

  section#first .mobiles {
    margin-right: -350px;
    margin-left: -100px;
  }

  section#first .caption {
    margin-top: -55px;
  }

  section#first .caption h1 {
    text-align: center;
  }

  section#first .caption .email_text {
    text-align: center;
  }

  section#first .caption .start {
    margin-top: 40px;
    text-align: center;
  }

  section#first .caption .market {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  section#shipping_order {
    padding: 50px 0;
  }

  section#shipping_order .step {
    text-align: center;
  }

  section#shipping_order .step .step_description br {
    display: none;
  }

  section#aditional_features {
    padding: 50px 0;
  }

  section#aditional_features h2 {
    margin-bottom: 40px;
  }

  section#aditional_features .description_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  section#aditional_features .description_wrapper.right_img .features_description {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }

  section#aditional_features .description_wrapper.right_img .description_img {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  section#aditional_features .description_wrapper.left_img .order_block:nth-child(1) {
    -webkit-box-ordinal-group: 2 !important;
    -webkit-order: 1 !important;
    -ms-flex-order: 1 !important;
    order: 1 !important;
  }

  section#aditional_features .description_wrapper.left_img .order_block:nth-child(2) {
    -webkit-box-ordinal-group: 0 !important;
    -webkit-order: -1 !important;
    -ms-flex-order: -1 !important;
    order: -1 !important;
  }

  section#aditional_features .description_wrapper .description_img img {
    margin-right: -10px;
  }

  section#aditional_features .description_wrapper .features_description p {
    margin-top: 20px;
  }

  section#aditional_features .description_wrapper:nth-child(2) img {
    margin-left: 0;
  }

  section#natural_origin {
    padding: 50px 0;
  }

  section#natural_origin .natural_origin-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  section#natural_origin .natural_origin-wrapper .origin_caption h2 {
    text-align: center;
  }

  section#natural_origin .natural_origin-wrapper .origin_caption p {
    margin-top: 40px;
  }

  section#natural_origin .natural_origin-wrapper .origin_img {
    margin: 0;
    margin-top: 20px;
    text-align: center;
  }

  section#natural_origin .natural_origin-wrapper .origin_img img {
    display: inline-block;
    width: 80%;
  }
}

@media screen and (max-width: 550px) {
  header {
    background-color: #fff;
    padding-bottom: 20px;
  }

  header .header_container {
    display: block;
    text-align: center;
    margin-top: 0;
  }

  header .header_container .logo {
    text-align: center;
  }

  header .header_container .logo img {
    display: inline-block;
  }

  section#first {
    background: #4BBFF2;
  }

  section#first .mobiles {
    margin: 0px;
    margin-top: 50px;
    margin-left: -90px;
    margin-right: -270px;
  }

  section#first .caption {
    margin-top: -20px;
  }

  section#first .caption h1 .br_mobile {
    display: block;
  }

  section#first .caption h1 {
    font-size: 4.2rem;
    text-align: left;
  }

  section#first .caption .email_text {
    font-size: 1.6rem;
    margin-top: 25px;
    line-height: 1.25;
    text-align: left;
  }

  section#first .caption .order {
    display: block;
    text-align: center;
  }

  section#first .caption .order input.order__input {
    margin-right: 0;
  }

  section#first .caption .order .btn__green {
    margin-top: 20px;
  }

  section#first .caption .start {
    margin-top: 40px;
    font-size: 1.5rem;
    line-height: 1.25;
    text-align: left;
  }

  section#first .caption .market {
    margin-top: 25px;
  }

  section#first .caption .market a:last-child img {
    height: auto;
  }

  section#aditional_features .description_wrapper .features_description p {
    line-height: 1.5;
    font-size: 1.5rem;
  }

  section#natural_origin .natural_origin-wrapper .origin_caption p {
    line-height: 1.5;
    font-size: 1.5rem;
  }

  section#natural_origin .natural_origin-wrapper .origin_img img {
    width: 100%;
  }

  section#free_application {
    padding: 50px 0;
  }

  section#free_application .apps_link {
    margin-top: 30px;
  }

  section#free_application .apps_link a img {
    height: auto;
  }

  section#free_application p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 450px) {
  section#first .mobiles {
    margin-left: -110px;
    margin-right: -270px;
  }
}

@media screen and (max-width: 400px) {
  section#first .caption .order input.order__input {
    width: 100%;
  }
}

@media screen and (max-width: 325px) {
  section#aditional_features h2 {
    font-size: 2.8rem !important;
  }
}

@media screen and (max-width: 320px) {
  section#first .mobiles {
    margin-left: -125px;
    margin-right: -267px;
  }
}