@charset "utf-8";

.google-map img {
    max-width: none;
}

/*
* FONTS
* ========================================================================================
*/
@font-face {
    font-family: 'opensans';
    src: url('/fonts/OpenSans-Regular-webfont.eot');
    src: url('/fonts/OpenSans-Regular-webfont.eot%3F') format('embedded-opentype'),
    url('/fonts/OpenSans-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensans';
    src: url('/fonts/OpenSans-Bold-webfont.eot');
    src: url('/fonts/OpenSans-Bold-webfont.eot%3F') format('embedded-opentype'),
    url('/fonts/OpenSans-Bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'opensans';
    src: url('/fonts/OpenSans-Italic-webfont.eot');
    src: url('/fonts/OpenSans-Italic-webfont.eot%3F') format('embedded-opentype'),
    url('/fonts/OpenSans-Italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'opensans';
    src: url('/fonts/OpenSans-BoldItalic-webfont.eot');
    src: url('/fonts/OpenSans-BoldItalic-webfont.eot%3F') format('embedded-opentype'),
    url('/fonts/OpenSans-BoldItalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/*
* ========================================================================================
* end of FONTS
*/

/*
* DEFAULT
* ========================================================================================
*/
html,
body {
    height: 100%;
}

body {
    background: url(../img/back_body.jpg) no-repeat center top fixed;
    /*min-height: 600px;*/
    font-family: "opensans";
    font-size: 12px;
    color: #6e757d;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto;
}


#wrap.fp {
    padding: 170px 0 0 0;
    background: url(../img/back.top.png) repeat-x center top fixed;
}

#footer {
    background-color: #136a92;
    color: #d6e9fc;
    width: 100%;
    z-index: 10;
    position:absolute;
    bottom:0;
    left:0;
}

h1 {
    margin-top: 0;
    font-size: 30px;
    color: #2385c4;
    font-weight: normal;
}

h5 {
    font-size: 16px;
    font-weight: bold;
}

p {
    font-size: 12px;
    line-height: 24px;
}

table {
    line-height: 24px;
}

.no_padding_left {
    padding-left: 0 !important;
}

.no_padding_right {
    padding-right: 0 !important;
}

/*
* ========================================================================================
* end of DEFAULT
*/

#copyright {
    margin: 10px 0;
    font-size: 12px;
}

#copyright span {
    white-space: nowrap;
}

#footer_icons {
    margin: 30px 0 0 0;
}

.icon_rss,
.icon_vk,
.icon_facebook {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 15px;
}

.icon_rss {
    background: url(../img/icon.rss.png) no-repeat center center transparent;
}

.icon_vk {
    background: url(../img/icon.vk.png) no-repeat center center transparent;
}

.icon_facebook {
    background: url(../img/icon.facebook.png) no-repeat center center transparent;
}

.navbar-fixed-top {
    background: url(../img/back.top.png) repeat-x center top fixed;
}

.navbar-fixed-top .container:first-child {
    background: url(../img/top_back.jpg) no-repeat center top;
}

.separator {
    background-color: #dddddd;
    width: 100%;
    height: 1px;
    margin: 15px 0 15px 0;
}

#product_list .thumbnail {
    margin-top: 15px;
    margin-bottom: 15px;
}

#product_cart .row {
    margin-top: 15px;
    margin-bottom: 15px;
}

#menu,
#product_categories_menu,
#mini_cart,
#newsletter,
#poll {
    margin-bottom: 30px;
}

#poll .progress {
    height: 5px;
}

#wrap .container {
    min-height: 400px;
}

#footer .container {
    min-height: 0;
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 992px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

/* Header */
.navbar-collapse {
    padding: 0;
}

.nav-pills > li > a {
    border-radius: 0;
    color: #0096c7;
    font-size: 14px;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
    color: #0a0a0a;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #0a0a0a;
    background-color: transparent;
}

.nav-top {
    border: 1px solid #d4e6f1;
    border-radius: 3px;
    background: #fff;
}

.nav-top li.active > a {
    border-bottom: 6px solid #fcd601;
    padding-bottom: 4px;
}

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .nav-justified > li {
        display: block;
        width: 100%;
    }
}

#logo {
    width: auto;
    cursor: pointer;
}

.delivery_holder {
    text-align: right;
    margin-top: 30px;
}

.regions_link {
    display: inline-block;
    line-height: 30px;
    padding-left: 35px;
    background: url(../img/icon.geografija.png) no-repeat left center transparent;
    font-size: 12px;
    font-weight: bold;
    float: right;
    margin-left: 15px;
}

.region_select {
    margin-bottom: 10px;
}

.region_select select {
    margin: 0 10px;
    width: auto;
    display: inline;
}

.region_select .phone {
    font-size: 24px;
    color: #7fba24;
    font-weight: bold;
    white-space: nowrap;
}

.region_select .phone .small {
    font-size: 14px;
}

.delivery_label {
    color: #757575;
    font-size: 14px;
    font-weight: bold;
}

/* end Header */
/* Vertical menu */

.nav.nav-side {
    background: #2191ca;
    border-radius: 5px;
    padding: 10px 0;
}

.nav.nav-side a {
    color: #fff;
    font-size: 13px;
    line-height: 14px;
    font-weight: normal;
}

.nav.nav-side li.active a,
.nav.nav-side a:hover {
    color: #046b9f;
    background: #fcd601;
}

.nav.nav-side.nav-pills > li + li {
    margin-left: 0px;
}

.home_banner {
    margin: 20px 0;
}

.home_banner img {
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(3, 74, 105, 0.37);
    width: 100%;
    height: auto;
}

/* Home offers */
.home_offer {
    position: relative;
    width: 100%;
    height: 398px;
}

.home_offer .ho_bottom {
    position: absolute;
}

.home_offer .ho_top {
    position: absolute;
    padding-left: 75px;
    padding-right: 75px;
}

.home_offer .ho_top p.offer1,
.home_offer .ho_top p.offer2,
.home_offer .ho_top p.offer3 {
    white-space: nowrap;
}

.home_offer .ho_top .offer_price {
    width: 113px;
    height: 113px;
    background: url(../img/offer_circle.png) no-repeat center center;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    position: relative;
    left: 20px;
}

.home_offer .ho_top .offer_price p {
    margin: 5px 0;
}

.home_offer .ho_top .offer_price p:first-child {
    font-size: 16px;
}

/* end Home offers */

/* Flex slider */

/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
    outline: none;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
    font-family: 'flexslider-icon';
    src: url('/fonts/flexslider-icon.eot');
    src: url('/fonts/flexslider-icon.eot%3F') format('embedded-opentype'),
    url('/fonts/flexslider-icon.woff') format('woff'),
    url('/fonts/flexslider-icon.ttf') format('truetype'),
    url('/fonts/flexslider-icon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {
    margin: 0;
    padding: 0;
}

.flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
    width: 100%;
    display: block;
    height: auto;
}

.flex-pauseplay span {
    text-transform: capitalize;
}

/* Clearfix for the .slides element */
.slides:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] .slides {
    display: block;
}

* html .slides {
    height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
    display: block;
}

/* FlexSlider Default Theme
*********************************/
.flexslider {
    margin: 0 0 60px;
    position: relative;
    zoom: 1;
}

.flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.loading .flex-viewport {
    max-height: 300px;
}

.flexslider .slides {
    zoom: 1;
}

.carousel li {
    margin-right: 5px;
}

/* Direction Nav */
.flex-direction-nav {
    *height: 0;
}

.flex-direction-nav a {
    text-decoration: none;
    display: block;
    width: 57px;
    height: 57px;
    margin: -28px 0 0;
    position: absolute;
    top: 50%;
    z-index: 10;
    overflow: hidden;
    opacity: 1;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}

.flex-direction-nav .flex-prev {
    left: 0px;
    background: url(../img/arrow_left.png) no-repeat left top;
}

.flex-direction-nav .flex-next {
    right: 0px;
    text-align: right;
    background: url(../img/arrow_right.png) no-repeat left top;
}

.flexslider:hover .flex-prev {
    left: 0px;
}

.flexslider:hover .flex-next {
    right: 0px;
}

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
    opacity: 1;
}

.flex-direction-nav .flex-disabled {
    opacity: 0 !important;
    filter: alpha(opacity=0);
    cursor: default;
}

.flex-direction-nav a:before {
    line-height: 1;
    display: inline-block;
}

.flex-direction-nav a.flex-next:before {
}

/* Pause/Play */
.flex-pauseplay a {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 5px;
    left: 10px;
    opacity: 0.8;
    z-index: 10;
    overflow: hidden;
    cursor: pointer;
    color: #000;
}

.flex-pauseplay a:before {
    font-family: "flexslider-icon";
    font-size: 20px;
    display: inline-block;
    content: '\f004';
}

.flex-pauseplay a:hover {
    opacity: 1;
}

.flex-pauseplay a.flex-play:before {
    content: '\f003';
}

/* Control Nav */
.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -40px;
    text-align: center;
}

.flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.flex-control-paging li a {
    width: 11px;
    height: 11px;
    display: block;
    background: #666;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

.flex-control-paging li a:hover {
    background: #333;
    background: rgba(0, 0, 0, 0.7);
}

.flex-control-paging li a.flex-active {
    background: #000;
    background: rgba(0, 0, 0, 0.9);
    cursor: default;
}

.flex-control-thumbs {
    margin: 5px 0 0;
    position: static;
    overflow: hidden;
}

.flex-control-thumbs li {
    width: 25%;
    float: left;
    margin: 0;
}

.flex-control-thumbs img {
    width: 100%;
    display: block;
    opacity: .7;
    cursor: pointer;
}

.flex-control-thumbs img:hover {
    opacity: 1;
}

.flex-control-thumbs .flex-active {
    opacity: 1;
    cursor: default;
}

@media screen and (max-width: 860px) {
    .flex-direction-nav .flex-prev {
        opacity: 1;
        left: 10px;
    }

    .flex-direction-nav .flex-next {
        opacity: 1;
        right: 10px;
    }
}

/* end Flexslider */

/* Easy order */
.easy_order {
    background: #3fb0d6;
    border-radius: 5px;
    font-size: 12px;
}

.easy_order h4 {
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    padding: 10px 0 0px 0;
    margin: 0;
}

.easy_products,
.easy_products tr {
    width: 100%;
}

.easy_products tr td {
    padding: 10px 0;
}

.easy_products tr.separator {
    padding: 0;
}

.easy_products tr.separator td {
    padding: 0 20px;
}

.easy_products tr.separator td hr {
    margin: 5px 0;
    border-top: 1px dashed #4fbade;
}

.easy_products tr.separator,
.easy_products tr.product {
    background: #c6edf9;
}

.easy_products tr.product td:first-child {
    padding-left: 20px;
}

.easy_products tr.product td:last-child {
    padding-right: 20px;
}

.easy_products tr.header td {
    text-align: center;
    font-size: 11px;
    line-height: 16px;
    font-weight: bold;
    font-family: arial;
    color: #fff;
}

.easy_products .prod_image img {
    display: block;
    float: left;
}

.easy_products .prod_name {
    color: #6a6a6a;
    font-size: 12px;
}

.easy_products .prod_amount {
    white-space: nowrap;
    min-width:100px; width: auto !important; width: 100px;
}

.easy_products .prod_amount input {
    float: left;
}

.easy_products .prod_amount input[type="text"] {
    width: 40px;
    height: 28px;
}

.easy_products .prod_amount input[type="button"] {
    width: 28px;
    height: 27px;
    border: 0;
    background: none;
}

.easy_products .prod_amount input.btn_minus {
    background: url(../img/btn_minus.png) no-repeat left top;
}

.easy_products .prod_amount input.btn_plus {
    background: url(../img/btn_plus.png) no-repeat left top;
}

.easy_products .price {
    white-space: nowrap;
    background: #aedc3f;
    border-radius: 5px;
    line-height: 24px;
    padding: 5px 5px;
}

.easy_order .fast_order_submit {
    padding: 10px 20px;
    text-align: right;
}

.easy_order .fast_catalog {
    line-height: 18px;
    font-size: 18px;
    background: url(../img/icon.product_change.png) no-repeat left top;
    color: #fff;
    text-decoration: underline;
    padding-left: 36px;
    margin: 14px 14px;
}

.btn_submit {
    background: #fcd601;
    border-bottom: 3px solid #c69a01;
    font-weight: bold;
    color: #3d3d3d;
    font-size: 20px;
}

.btn_submit_small {
    background: #fcd601;
    border-bottom: 3px solid #c69a01;
    font-weight: bold;
    color: #3d3d3d;
    font-size: 14px;
    padding: 6px 12px;
}

/* end Easy order */
/* O VODE */
.o_vode h1 {
    font-size: 48px;
    color: #9eca33;
    font-weight: bold;
    margin: 0;
}

.o_vode h2 {
    font-size: 60px;
    line-height: 60px;
    color: #9eca33;
    font-weight: bold;
    margin: 0;
    margin-bottom: 20px;
}

.o_vode_inner {
    width: 100%;
    height: 500px;
    position: relative;
}

.o_vode_inner .img_holder {
    position: absolute;
    width: 178px;
    height: 197px;
    background: url(../img/o_vode_white.png) no-repeat center center transparent;
    padding-left: 13px;
    padding-top: 11px;
}

.o_vode_inner .img_holder.hover {
    background-image: url(../img/o_vode_white_hover.png);
}

.o_vode_inner .img_holder .hover_part {
    position: absolute;
    width: 148px;
    height: 171px;
    background: url(../img/o_vode_hover.png) no-repeat left top transparent;
    top: 11px;
    left: 13px;
    display: none;
}

.o_vode_inner .img_holder.hover .hover_part {
    display: block;
}

.o_vode_inner .link_holder {
    position: absolute;
    width: 178px;
    height: 197px;
    background: url(../img/o_vode_blue.png) no-repeat center center transparent;
    display: table;
}

.o_vode_inner .link_holder.hover {
    background-image: url(../img/o_vode_blue_hover.png);
}

.o_vode_inner .link_holder a.link_text {
    display: table-cell;
    position: absolute;
    left: 14px;
    top: 80px;
    width: 148px;
    height: auto;
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: transparent;
}

.o_vode_inner .link_holder a.link_text span {
    font-size: 13px;
}

.o_vode_inner a.link_center,
.o_vode_inner a.link_left,
.o_vode_inner a.link_right {
    display: block;
    position: absolute;
    left: 14px;
    top: 55px;
    width: 148px;
    height: 84px;
    background: transparent;
}

.o_vode_inner a.link_left {
    -ms-transform: rotate(60deg); /* IE 9 */
    -webkit-transform: rotate(60deg); /* Chrome, Safari, Opera */
    transform: rotate(60deg);
}

.o_vode_inner a.link_right {
    -ms-transform: rotate(120deg); /* IE 9 */
    -webkit-transform: rotate(120deg); /* Chrome, Safari, Opera */
    transform: rotate(120deg);
}

.o_vode_inner .link_join {
    position: absolute;
}

.o_vode_inner .img_0 {
    left: 160px;
    top: 0;
}

.o_vode_inner .img_1 {
    left: 160px;
    top: 280px;
}

.o_vode_inner .img_2 {
    left: 320px;
    top: 280px;
}

.o_vode_inner .img_3 {
    left: 400px;
    top: 140px;
}

.o_vode_inner .img_4 {
    left: 640px;
    top: 0;
}

.o_vode_inner .img_5 {
    left: 480px;
    top: 280px;
}

.o_vode_inner .link_0 {
    left: 0px;
    top: 0;
}

.o_vode_inner .link_1 {
    left: 80px;
    top: 140px;
}

.o_vode_inner .link_2 {
    left: 240px;
    top: 140px;
}

.o_vode_inner .link_3 {
    left: 320px;
    top: 0;
}

.o_vode_inner .link_4 {
    left: 480px;
    top: 0;
}

.o_vode_inner .link_5 {
    left: 560px;
    top: 140px;
}

.o_vode_inner .link_join.lj_1 {
    left: 130px;
    top: 130px;
    width: 38px;
    height: 50px;
    background: url(../img/o_vode_join1.png) no-repeat center center transparent;
}

.o_vode_inner .link_join.lj_2 {
    left: 220px;
    top: 200px;
    width: 54px;
    height: 15px;
    background: url(../img/o_vode_join2.png) no-repeat center center transparent;
}

.o_vode_inner .link_join.lj_3 {
    left: 330px;
    top: 130px;
    width: 36px;
    height: 48px;
    background: url(../img/o_vode_join3.png) no-repeat center center transparent;
}

.o_vode_inner .link_join.lj_4 {
    left: 460px;
    top: 120px;
    width: 54px;
    height: 15px;
    background: url(../img/o_vode_join2.png) no-repeat center center transparent;
}

.o_vode_inner .link_join.lj_5 {
    left: 610px;
    top: 130px;
    width: 38px;
    height: 50px;
    background: url(../img/o_vode_join1.png) no-repeat center center transparent;
}

/* end O VODE */
/* Partners */
.panel {
    box-shadow: 0px 0px 5px rgba(3, 74, 105, 0.37);
    border-width: 0;
}

.panel h4 {
    font-size: 20px;
    margin-top: 0;
    font-weight: bold;
}

.partners_holder {
    text-align: center;
    height: 250px;
    overflow-y: hidden;
    width: 100%;
    position: relative;
}

.partners_holder .pparts {
    position: relative;
}

.partners_holder .ppart {

}

.arrow_down {
    width: 100%;
    height: 20px;
    background: url(../img/arrow_partners_down.png) no-repeat center center transparent;
    cursor: pointer;
}

/* end Partners */
/* Cart */
.panel_cart {
    background: #5ac1e4;
    border-color: #5ac1e4;
    color: #fff;
}

.panel_cart h4 {
    margin-bottom: 20px;
}

.panel_cart table {
    width: 100%;
}

.panel_cart table .product_row_amount {
    font-weight: bold;
    white-space: nowrap;
}

.panel_cart .product_row {
    font-size: 12px;
    line-height: 18px;
    vertical-align: middle;
    border-top: 1px dashed #7ad4f1;
}

.panel_cart .product_row_first {
    border-top: 0px;
}

.panel_cart .product_row td {
    padding: 10px 0 10px 4px;
}

.panel_cart .price_row td {
    font-weight: bold;
    line-height: 30px;
    padding: 10px 0;
    border-top: 1px solid #7ad4f1;
}

.panel_cart .price_row td span {
    font-size: 18px;
}

/* end Cart */
/* Products */
.panel.product {
    border-width: 0;
    position: relative;
    box-shadow: 0px 0px 5px rgba(3, 74, 105, 0.37);
}

.panel.product-full {
    border-width: 0;
    position: relative;
    width: 100%;
    float: none;
    margin-right: 0%;
    box-shadow: 0px 0px 5px rgba(3, 74, 105, 0.37);
}

.panel.product .prod_image {
    text-align: center;
}

.panel.product .prod_image img {
    text-align: center;
    max-width:100%;
    height:auto;
}

.panel.product .prod_price {
    white-space: nowrap;
    background: #aedc3f;
    border-radius: 5px;
    line-height: 24px;
    padding: 5px 5px;
    text-align: center;
    margin: 5px 0;
}

.panel.product .prod_name {
    font-size: 18px;
    font-weight: bold;
    color: #424242;
}

.panel.product .prod_description {
    margin-top: 10px;
    color: #637081;
    font-size: 12px;
}

.panel.product .prod_description a {
    font-weight: bold;
}

.panel.product .prod_icons {
    text-align: right;
    height: 30px;
}

.panel.product .prod_icons img {
    margin-top: 10px;
    margin-left: 20px;
}

.panel.product .row_bottom {
    margin-top: 10px;
    background: #c6edf9;
    margin: 10px 0px 0 0px;
    padding: 15px 0;
}

.panel.product .prod_amount {
    width: 100%;
}

.panel.product .prod_amount span {
    float: left;
    line-height: 36px;
    margin-right: 5px;
    color: #54667f;
    font-size: 12px;
}

.panel.product .prod_amount input {
    float: left;
}

.panel.product .prod_amount input[type="text"] {
    width: 40px;
    height: 28px;
    margin: 5px 0;
}

.panel.product .prod_amount input[type="button"] {
    width: 28px;
    height: 27px;
    border: 0;
    background: none;
    margin: 5px 0;
}

.panel.product .prod_amount input.btn_minus {
    background: url(../img/btn_minus.png) no-repeat left top;
}

.panel.product .prod_amount input.btn_plus {
    background: url(../img/btn_plus.png) no-repeat left top;
}

.product_categories {
    width: 100%;
    margin-bottom: 10px;
}

.product_categories td {
    vertical-align: middle;
}

.product_categories td img {
    margin: 0 5px;
}

.product_categories label {
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #129cc9;
}

/* end Products */
/* left banner */
.left_banner {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.left_banner img {
    border: 1px solid #d4e6f1;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(3, 74, 105, 0.37);
    display: block;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
}

/* end left banner */

/* gmaps */
.gm-style-iw {
    color: #525252;
}

.gm-style-iw h4 {
    color: #525252;
    margin: 0;
    margin-bottom: 15px;
}

.gm-style-iw hr {
    border: 0;
    border-bottom: #a9c2c9 1px dashed;
    margin: 5px 0;
}

.gm-style-iw .spacer {
    display: inline-block;
    width: 30px;
}

.gm-style-iw .icon_map,
.gm-style-iw .icon_change,
.gm-style-iw .icon_buy,
.gm-style-iw .icon_access {
    min-height: 24px;
    padding-left: 24px;
    margin-bottom: 5px;
}

.gm-style-iw .icon_map {
    background: url(../img/icon_map.png) no-repeat left center;
}

.gm-style-iw .icon_change {
    background: url(../img/icon_change.png) no-repeat left center;
}

.gm-style-iw .icon_buy {
    background: url(../img/icon_buy.png) no-repeat left center;
}

.gm-style-iw .icon_access {
    background: url(../img/icon_access.png) no-repeat left center;
}

/* end gmaps */
/* checkboxes */
.cb_holder .checkbox {
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    color: #54667f;
}

.cb_holder .checkbox label {
    line-height: 53px;
    display: inline-block;
    padding: 0 20px;
}

.cb_holder .checkbox.active {
    background: #c6edf9;
}

.cb_holder .checkbox span.icon_change,
.cb_holder .checkbox span.icon_buy,
.cb_holder .checkbox span.icon_access {
    width: 30px;
    display: inline-block;
    height: 24px;
    margin-bottom: -6px;
}

.cb_holder .checkbox span.icon_change {
    background: url(../img/icon_change.png) no-repeat center center;
}

.cb_holder .checkbox span.icon_buy {
    background: url(../img/icon_buy.png) no-repeat center center;
}

.cb_holder .checkbox span.icon_access {
    background: url(../img/icon_access.png) no-repeat center center;
}

/* end checkboxes */

.image_gallery {
    text-align: center;
}
.image_gallery img {
    max-width:100%;
    height: auto;
}

.image_gallery .lSAction a {
    width: 35px;
    height: 35px;
    position: absolute;
    bottom: 36px;
    cursor: pointer;
}

.image_gallery .lSAction a.lSPrev {
    background: url(../img/arrow.product_left.png) no-repeat left top transparent;
}

.image_gallery .lSAction a.lSNext {
    background: url(../img/arrow.product_right.png) no-repeat left top transparent;
}

.image_gallery .lSPager img {
    border: 1px solid #ffffff;
}
.image_gallery .lSPager .active img {
    border: 1px solid #0096c7;
}

.icon_product_price {
    padding-left: 40px;
    min-height: 30px;
    background: url(../img/icon.product_price.png) no-repeat left top transparent;
}

.icon_product_document {
    padding-left: 40px;
    min-height: 30px;
    background: url(../img/icon.product_document.png) no-repeat left top transparent;
    line-height: 30px;
}

.icon_product_change {
    padding-left: 40px;
    min-height: 30px;
    line-height: 30px;
    background: url(../img/icon.product_change.png) no-repeat left top transparent;

}

.icon_product_change span {
    font-size: 18px;
}

.product-full .icons {
    text-align: right;
}

.product-full .icons img {
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 15px;
}

.product-full .description {
    padding-bottom: 20px;
    font-size: 12px;
    color: #6e757d;
    line-height: 24px;
}

.product-full .price {
    white-space: nowrap;
    background: #aedc3f;
    border-radius: 5px;
    line-height: 24px;
    padding: 5px 5px;
    margin-left: 10px;
}

.product-full .price_single {
    margin-left: 10px;
}

.product-full .price_line {
    margin-bottom: 10px;
}

.product-full .row_bottom {
    margin-top: 10px;
    background: #c6edf9;
    margin: 20px 0px 0 0px;
    padding: 15px 0;
}

.product-full .prod_amount {
    width: 100%;
}

.product-full .prod_amount span {
    float: left;
    line-height: 36px;
    margin-right: 5px;
    color: #54667f;
    font-size: 12px;
}

.product-full .prod_amount input {
    float: left;
}

.product-full .prod_amount input[type="text"] {
    width: 50px;
    height: 28px;
    margin: 5px 0;
    text-align: center;
}

.product-full .prod_amount input[type="button"] {
    width: 28px;
    height: 27px;
    border: 0;
    background: none;
    margin: 5px 0;
}

.product-full .prod_amount input.btn_minus {
    background: url(../img/btn_minus.png) no-repeat left top;
}

.product-full .prod_amount input.btn_plus {
    background: url(../img/btn_plus.png) no-repeat left top;
}

/* end Product */
/* Text */
.panel-body.for_text {
    min-height: 400px;
    padding:30px;
}

.panel-body.for_text img {
    max-width: 100%;
    height: auto;
}

.c-list .annotation {
    margin-bottom: 30px;
}

.c-list-item {
    margin-bottom: 30px;
}

.c-list-item img {
    display: block;
    height: auto;
    max-width: 100%;
    width: 100%;
}

.c-list-item .date {
    color: grey;
    font-size: 90%;
    margin-bottom: 10px;
}

.c-list-item .info {
    margin-bottom: 20px;
}

.c-item-manage {
    margin-bottom: 10px;
}

.c-item .title {
    margin-bottom: 20px;
}

.c-item .date {
    color: grey;
    font-size: 90%;
    margin-bottom: 10px;
}

.c-item-images img {
    padding: 0;
    margin: 0 10px 10px 0;
}

table.custom th {
    font-weight: bold;
}

table.custom th, table.custom td {
    padding: 4px 8px;
    border-bottom: 1px dashed #50bbd9;
    text-align: center;
    line-height: normal;
}

table.custom tr:nth-child(2n+2) td {
    background: #e8f7fa;
}

@media screen and (min-width: 900px) {
    .modal-lg {
        width: 900px;
    }
}

@media screen and (max-width: 899px) {
    .modal-lg {
        width: 100%;
    }
}

.modal-backdrop.in {
    z-index: 9999;
}

#order-window {
    font-size: 12px;
    z-index: 10000;
}

#order-window .modal-header {
    background-color: #5ac1e4;
    border-color: #5ac1e4;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #fff;
    border-radius-topleft: 6px;
    border-radius-topright: 6px;
}

#order-window .modal-header h4 {
    font-size: 24px;
    font-weight: bold;
}

#order-window .modal-body {
    padding: 0;
}

#order-items thead, #order-items tfoot {
    background-color: #5ac1e4;
    border-color: #5ac1e4;
    color: #fff;
}

#order-items thead th, #order-items tbody td, #order-items tfoot td {
    border: 0;
    vertical-align: middle;
}

#order-items thead th {
    font-weight: normal;
    border-color: #5ac1e4;
    white-space: nowrap;
}

#order-items tbody {
    background-color: #c6edf9;
    border-bottom: 1px solid #c6edf9;
}

#order-items tbody td {
    border-bottom: 1px dashed #5ac1e4;
}

#order-items tbody td.item-amount {
    white-space: nowrap;
}

#order-items thead th:first-child, #order-items thead th:last-child {

}

#order-items tbody td:first-child, #order-items tbody td:last-child {

    border-bottom: 1px solid #c6edf9;
}

#order-items .price {
    white-space: nowrap;
    background: #aedc3f;
    border-radius: 5px;
    padding: 5px 5px;
    text-align: center;
}

#order-items .order-quantity-change {
    background-color: #5ac1e4;
    color: #fff;
    border-radius: 10px;
    padding: 3px 5px;
    vertical-align: middle;
}

#order-items .order-quantity-change.increase i {
    left: 1px;
}

#order-items .order-quantity-input {
    width: 40px;
    display: inline;
    margin: 0 6px;
    padding: 2px 12px;
    line-height: normal;
    height: inherit;
    text-align: center;
}

#order-items .order-manage a {
    background-color: rgba(255, 85, 0, 0.7);
    border-radius: 10px;
    color: #fff;
    padding: 3px 5px;
}

#order-items .order-total-wrap {
    font-size: 16px;
    font-weight: bold;
}

#order-contacts {
    padding: 0 40px;
    margin-bottom: 40px;
}

#order-contacts legend {
    font-weight: bold;
    font-size: 12px;
    border: 0;
    margin-bottom: 10px;
}

div.pp_overlay {
    background: #fff;
}

div.facebook .pp_description {
    margin: 10px 20px;
    color: #fff;
    text-align: center;
    background-color: #2191ca;
    padding: 10px;
    font-size: 120%;
    border: 3px solid #2191ca;
    border-radius: 10px;
}

html,
body {
    margin:0;
    padding:0;
    height:100%;
}
#wrapper {
    min-height:100%;
    position:relative;
}
#wrapper > #wrap > .container {
    padding-bottom:77px;   /* Height of the footer element */
    position:relative;
}

.banner {
    position:absolute;
    bottom:30px;
    right: 15px;
    left: 15px;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 991px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }

    .row-offcanvas-right {
        right: 0;
    }

    .row-offcanvas-left {
        left: 0;
    }

    .row-offcanvas-right
    .sidebar-offcanvas {
        right: -29%;
        display: none;
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -29%;
        display: none;
    }

    .row-offcanvas-right.active {
        right: 30%;
    }

    .row-offcanvas-left.active {
        left: 30%;
    }

    .row-offcanvas-right.active .sidebar-offcanvas {
       display:block;
    }

    .row-offcanvas-left.active .sidebar-offcanvas {
        display:block;
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 30%;
    }
}

@media screen and (max-width: 767px) {
    .row-offcanvas-right
    .sidebar-offcanvas {
        right: -75%;
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -75%;
    }

    .row-offcanvas-right.active {
        right: 80%;
    }

    .row-offcanvas-left.active {
        left: 80%;
    }

    .sidebar-offcanvas {
        width: 77%;
    }
}

.navbar-toggle .icon-bar {
    background: #3d3d3d;
}

@media screen and (max-width: 767px) {
    .delivery_holder {
        margin-top: 10px;
    }
    .region_select {
        text-align: center;
    }
}

.nav.affix {
    position: inherit;
}

ul.production-steps li a {
    background-color: #0096c7;
    color: #fff;
    text-align: center;
    border-radius: 20px;
    width: 40px;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 10px;
}

ul.production-steps li.active a, ul.production-steps li.active a:hover, ul.production-steps li a:hover {
    color: #046b9f;
    background: #fcd601;
}

a.production-change_step {
    font-size: 50px;
    color: #0096c7;
}

a.production-change_step.disabled {
    color: grey;
}

#wrap, .navbar {
    background: url(../img/back.top.png) repeat-x center top fixed;
}

.navbar {
    margin-bottom: 0;
    padding-bottom: 20px;
}

@media screen and (max-width: 768px) {

    .btn-toggle-sidebar {
        margin-left: 0 15px;
    }
}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 767px) {
    .container > .navbar-header, .container > .navbar-collapse {
        margin-right: 0;
        margin-left: 0;
    }
}

.category_products .col-sm-6 {
    float: none;
    display:inline-block;
    vertical-align:top;
}

.category_products .row_content {
    min-height:210px;
}

@media screen and (max-width: 992px) {
    .category_products .row_content {
        min-height: 380px;
    }
    #wrap.fp {
        padding: 190px 0 0 0;
    }
}

@media screen and (max-width: 768px) {
    .category_products .row_content {
        min-height: 100px;
    }
    #wrap.fp {
        padding: 250px 0 0 0;
    }
}

.o_vode_inner {
    overflow-x: auto;
}

.nav > li > a {
    padding: 10px 10px;
}

.btn-toggle {
    padding: 7px 12px;
}

@media screen and (max-width: 400px) {

    #order-items tr th {
        display:none;
    }

    #order-items tr td {
        border:none;
        display: block;
        text-align: center;
    }

    #order-items tr td.item-manage {
        border-bottom: 1px dashed #5ac1e4;
    }

    #order-items tr.order-delivery td.item-manage {
        border:none;
    }

    .easy_order {
        text-align: center;
    }

    .easy_order .header {
        display: none;
    }
    .easy_order tr td {
        display: block;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .easy_order .prod_image img {
        float: none;
        margin:0 auto;
    }

    .easy_order .col-xs-6 {
       width:100%;
    }

    .easy_order .fast_order_submit {
        text-align: center;
    }

    .easy_order td.prod_amount {
        display: inline-block;
    }

}

.btn_back {
    margin-bottom: 20px;
}

#kladr_autocomplete ul {
    z-index: 9999999;
}

@media (max-width: 1200px) {
    .pc_content > table > tr > td {
        display: block;
        width: 100% !important;
    }

    .pc_content table td img.img-responsive {
        width: 100%;
    }

    #pc_media_2_wrapper {
        max-width:100% !important;
        width:100% !important;
    }

}

@media (max-width: 992px) {

    .product_categories {
        white-space: nowrap;
    }

}

#map_services div.checkbox, #map_filter_gmap_1 div.checkbox {
    display:inline-block;
    margin:0 10px 10px 0;
}

#map_services input, #map_filter_gmap_1 input {
    vertical-align: middle;
    float: none;
    margin-top: 0;
    margin-bottom: 0;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

#ask-window {
    bottom: 50px;
    top: initial;
    overflow: hidden;
}

#ask-window .modal-body {
    margin-bottom: 10px;
}

input#order-coupon {
    background: #c6edf9;
    width: 70%;
}

#affix-block.affix-top{
    position: static;
}
#affix-block.affix {
    position: fixed;
    top: 20px;
    z-index: 1;
    width: 270px;
}
#home_part4 #affix-block.affix {
    top: 200px;
}
#home_part4 #affix-block.affix-bottom{
    position: absolute;
    bottom: 0px;
    z-index: 1;
    width: 270px;
    margin-bottom: 20px;
    top: inherit !important;
}

